server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    driver-class-name: org.postgresql.Driver
    username: thoung
    password: qwer
    url: jdbc:postgresql://localhost:1111/user_service_db

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000

  jpa:
    hibernate:
      ddl-auto: update
