server:
  port: 8082

spring:
  application:
    name: product-service

  mongodb:
    host: localhost:27168
    username: thoung
    password: qwer
    database: product
    authentication-database: admin

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000